.header {
    display: flex;
    flex-direction: row;
    background-color: steelblue;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}

.header img {
    width: 50px;
}
.login {
    text-decoration: none;
    color: firebrick
}