.reduxFormComponent.error input {
    border: solid red 2px;
}

.reduxFormComponent.error textarea {
    border: solid red 2px;
}
.reduxFormComponent.error span {
    color: red;
}

.loginError {
    color: red;
    border: solid red 2px;
}

.reduxFormComponent {
    margin:5px;
}
